<div class="container justify-content-center">
  <div class="text-center">
    <h2>
      <u><strong>
        Useful Links and Stuff
      </strong></u>
    </h2>
    <img src="https://i.imgur.com/LIptXaM.jpg" alt="references" class="img-fluid">
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h4>
        Bootstrap:
      </h4>
      <ul>
        <li>
          <p><a href="https://getbootstrap.com/docs/4.3/content/reboot/">Content Docs</a></p>
        </li>
        <li>
          <p><a href="https://getbootstrap.com/docs/4.3/components/alerts/">Components Docs</a></p>
        </li>
        <li>
          <p><a href="https://getbootstrap.com/docs/4.3/utilities/borders/">Utilities Docs</a></p>
        </li>
      </ul>
    </div>
    <div class="col">
      <h4>
        Angular:
      </h4>
      <ul>
        <li>
          <p><a href="https://angular.io/guide/forms-overview">Forms</a></p>
        </li>
        <li>
          <p><a href="https://angular.io/guide/http">HttpClient</a></p>
        </li>
        <li>
          <p><a href="https://angular.io/guide/deployment">Deployment</a></p>
        </li>
        <li>
          <p><a href="https://angular.io/guide/animations">Animations</a></p>
        </li>
        <li>
          <p><a href="https://angular.io/guide/cheatsheet">Cheat Sheet</a></p>
        </li>
        <li>
          <p><a href="https://angular.io/cli">CLI Commands</a></p>
        </li>
      </ul>
    </div>
    <div class="col">
      <h4>
        External Tools:
      </h4>
      <ul>
        <li>
          <p><a href="http://colormind.io/">AI Color Scheme Generator</a></p>
        </li>
        <li>
          <p><a href="https://coolors.co/">Coolors Scheme Generator</a></p>
        </li>
        <li>
          <p><a href="https://material.angular.io/">Angular Material</a></p>
        </li>
        <li>
          <p><a href="https://gist.github.com/davfre/8313299">Git Commands Cheat Sheet</a></p>
        </li>
        <li>
          <p><a href="http://www.markammay.com/100-creative-ideas-for-a-website/">100 Website Ideas</a></p>
        </li>
      </ul>
    </div>
  </div>
  <hr>
</div>